body {
	font-size: 100%;
	padding: 0;
	margin: 0;
}

div.header { margin: 0; padding: 0; }
div.hdr-left { display: inline-block; width: 20em; margin: 0em 1em; }
div.hdr-right { display: inline-block; width: 20em; float: right; }
div.header p { padding: 0; margin: 0; clear: both; }
div.header p span.key { display: inline-block; float: left; width: 5em; }
div.header p span.value { display: inline-block; clear: left; color: red;}

div.clear { clear: both; }

table {
	border-width: medium;
	border-collapse: collapse;
	border: 1px solid gray;
	border-spacing: 2px;
	margin: 2px auto;
}

thead { background-color: LightSkyBlue; }
th { vertical-align:text-top; text-align: left; }
tbody { border: 3px; padding: 15px; white-space: nowrap; }
tr.r0 { background-color: White; }
tr.r1 { background-color: Lavender; }
th, td { padding: 0 0.25em; border: 1px dashed grey; border-width: thin; }

ul.control { list-style-type: none; padding: 0; margin: 0; }
ul.control li { display: inline-block; float: left; }
form.buttons { display: inline-block; }
div.button { display: inline-block; width: 20px; padding: 2px 0; margin: 0; }
